.hero {
  display: flex;
  flex-direction: row;
}

.hero img {
  /* border-radius: 5%; */
  max-width: 80vw;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hero p {
  text-align: justify;
  max-width: 80%;
}

.hero h1 {
  font-family: "Dosis";
  font-weight: 500;
  text-align: right;
}

.hero a {
  text-decoration: none;
  background-color: lightblue;
  color: black;
  padding: 10px;
}
.hero a {
  text-decoration: none;
  background-color: var(--color-terciary);
  color: white;
  padding: 10px;
}
.hero a:hover {
  text-decoration: underline;
  background-color: var(--acent);
  color: black;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
  }
  .hero h1 {
    text-align: center;
  }
  .hero p {
    max-width: 100%;
    text-align: justify;
  }
  .hero div {
    align-items: center;
  }
  .hero a {
    display: flex;
  }
}
