nav {
  border-bottom: 1px solid black;
  flex-direction: row;
  position: sticky;
  top: 0;
  right: 0;
  background-color: white;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  font-family: "Coda";
  justify-content: space-between;
}

nav .home-icon {
  display: flex;
  font-weight: 800;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav .home-icon img {
  margin-right: 10px;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}
