.reporters-title {
  text-align: left;
  text-decoration: none;
  color: black;
}
.reporters-title:hover {
  text-decoration: underline;
}

.reporters-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.reporters-card {
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  display: flex;
}

.reporters-card:hover {
  text-decoration: underline;
  color: var(--acent);
}

.reporters-card img {
  margin-bottom: 10px;
  max-width: 15vw;
}
