.home-curiosidades-cardzao {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;

  flex-direction: row;
  background-color: var(--acent);
}
.home-curiosidades-cardzao img {
  margin-right: 4rem;
  height: 100%;
}

.home-curiosidades-cardzao div {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 4rem;
}

@media (max-width: 800px) {
  .home-curiosidades-cardzao {
    flex-direction: column;
  }
  .home-curiosidades-cardzao div {
    text-align: justify;
    padding: 0px;
    align-items: center;
  }
}
